{% extends "mainApp/wrapper.html" %}
{% block content %}
{% load staticfiles %}
            
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
   </head>
   <body>
   	<h3 class="">Опыт работы</h3><hr><br>
   	<h5 class="">ТОО "Astana Asset Managment" - Инженер по видео и звуку. С 1 ноября 2017 года по н.в.</h5><br>
   	<h3 class="">Образование</h3><hr><br>
   	<h3 class="">Дополнительная информация</h3><hr><br>
   	<h3 class="">Дополнительное образование</h4><hr><br>
   </body>
</html>

{% endblock %}