<form>
	<div style="columns: 2">
		<div>
			<input style="text-align: center; width: auto; height: 25px; border:2px solid black; border-radius: 5px;" type="text" name="" value="" maxlength="128" placeholder="Поиск по сайту">
			<input class="social" style="width: 70px; height: 30px; border:2px solid black; background: white; border-radius: 5px;" type="submit" name="op" value="Искать" class="form-submit">
		</div>
		<div>
			<script type="text/javascript">
			function startTime()
			{
				var tm=new Date();
				var h=tm.getHours();
				var m=tm.getMinutes();
				var s=tm.getSeconds();
				m=checkTime(m);
				s=checkTime(s);
				document.getElementById('txt').innerHTML=h+":"+m+":"+s;
				t=setTimeout('startTime()',500);
			}
			function checkTime(i)
			{
				if (i<10)
				{
					i="0" + i;
				}
				return i;
			}
		</script> <body onload="startTime()"> <p id="txt"> </p> </body>
		</div>
	</div>
</form><br>